asgiref==3.11.1
cfgv==3.5.0
distlib==0.4.3
Django==6.0.7
filelock==3.29.7
identify==2.6.19
nodeenv==1.10.0
platformdirs==4.10.0
pre_commit==4.6.0
python-discovery==1.4.4
PyYAML==6.0.3
ruff==0.15.21
sqlparse==0.5.5
virtualenv==21.6.1
